@media (min-width: 1024px) {
	.hero {
		height: 80vh;
	}

	.hero__title-container {
		margin: auto 0 4em 0;
		padding: 2em 6em;
		width: fit-content;
		background-color: var(--white);
	}

	.hero__title {
		margin: 0 0 0.25em 0;
		color: var(--black);
		font-size: 3.5em;
	}

	.hero__sub-title {
		color: var(--black);
		font-weight: 300;
		font-size: 2.75em;
	}
}
